{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Newspaper
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <p><a href="{% url 'news_search' %}">Поиск</a></p>
   {% if perms.news.add_post %}
   <p><a href="{% url 'news_create' %}">Добавить новость</a></p>
   <p><a href="{% url 'article_create' %}">Добавить статью</a></p>
   {% endif %}
   <hr>
   {% if news %}
      <table>
          <tr>
              <td>Заголовок</td>
              <td>Дата публикации</td>
              <td>Начало</td>
              {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
          </tr>
          {% for post in news %}
          <tr>
              <td>{{ post.title | censor}}</td>
              <td>{{ post.dateCreation|date:'d.m.Y' }}</td>
              <td>{{ post.text |truncatechars:20| censor }}</td>
              <td>
                    {% if perms.news.change_post %}
                       {% if post.post_type == 'NW' %}
                       <a href="{% url 'news_update' post.id %}">Редактировать</a>
                       {% endif %}
                       {% if post.post_type == 'AR' %}
                       <a href="{% url 'article_update' post.id %}">Редактировать</a>
                       {% endif %}
                    {% endif %}
                    {% if perms.news.delete_post %}
                       {% if post.post_type == 'NW' %}
                       <a href="{% url 'news_delete' post.id %}">Удалить новость</a>
                       {% endif %}
                       {% if post.post_type == 'AR' %}
                       <a href="{% url 'article_delete' post.id %}">Удалить статью</a>
                       {% endif %}
                    {% endif %}
                </td>
          </tr>
          {% endfor %}
      </table>
   {%else %}
       <h2>Новостей нет!</h2>
   {% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}



